{% extends 'base.html'%}
{% block content %}
<div class="container content">
    <div>
        <legend class="text-white" >USER PROFILE</legend>
    </div><br>
    <div class="row profile">
        <div class="col-md-3 mt-4">
            <div class="profile-sidebar position-fixed">
                <!-- SIDEBAR USERPIC -->
                {%if user.username == 'nazarena'%}
                <div class="profile-userpic">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgcnctqtcUpuJvng1eyqmv3RXhsnbd1fqVtw&usqp=CAU"
                        class="img-responsive" alt="" height="250" width="250">
                </div>
                {%else%}           
                <div class="profile-userpic">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8ZSmsjS2wrSZ1cB7V430GcOyDTKFdpb_VBw&usqp=CAU"
                    class="img-responsive" alt="" height="250" width="250">
                </div>
                {%endif%}
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle text-white" style="font-family: 'El Messiri', sans-serif;" > 
                    <br><div class="profile-usertitle-name">
                        <h4> Name: {{user.first_name}} {{user.last_name}}</h4>
                    </div>
                    <div class="profile-usertitle-job">
                        <h5>Username: {{user.username}}</h5>
                    </div>
                    {%if user.bio%}
                    <h5>Bio: {{user.bio}}</h5>
                    {%else%}
                    <h5>No bio</h5>
                    {%endif%}
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR MENU -->
                {%if current_user.is_authenticated%}
                <hr>
                <div class="profile-usermenu sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('main.update_profile', id = user.id)}}">
                                <i class="fas fa-user-edit text-white"></i>
                                <span class="text-white" >Account Settings</span>  </a>
                        </li>
                    </ul>
                </div>
                {%endif%}
                <!-- END MENU -->
            </div>
             <!-- END OF SIDEBAR USER PROFILE --->
        </div>
         <!-- END OF COL-MD-3 --->

        <div class="col-md-9" style="margin-top: 30px; color: white; font-family: 'El Messiri', sans-serif;">
            <div class="profile-content">
                {%for post in posts[::-1]%}
                <div class="post-preview">
                    {%if current_user.is_authenticated%}
                    <div style="float: right; padding-bottom: 50px">
                        <a href="{{url_for('main.edit_post', id = post.id)}}" class="btn btn-outline-info btn-sm"><i class="far fa-edit"></i></a>
                        <a href="{{url_for('main.delete_post', id = user.id, post_id = post.id)}}" class="btn btn-outline-danger btn-sm"><i class="far fa-trash-alt"></i></a>
                    </div>
                    {%endif%}
                    <a href="{{url_for('main.post', id = post.id)}}">
                        <h3 class="post-title text-white">
                           Title:  {{post.post_title}}
                        </h3>
                        <h4 class="post-subtitle text-white">
                           Blog: {{post.post_content | truncate(45) | safe}}
                        </h4>
                    </a>
                    <div class="post-meta">Posted by
                        <a href="/profile/{{post.user_id}}"><span style="color: white;">{{post.post_by}}</span> </a>
                        on {{post.posted_at.strftime('%B %d, %Y')}}
                    </div><br>
                </div>
                {%endfor%}
            </div>
        </div>
         <!-- END OF COL-MD-9 --->

    </div>
     <!-- END OF ROW --->
</div>
 <!-- END OF CONTAINER --->

{%endblock%}