{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content %}
<br><br><br>
<div class="container ">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            
            <div style="color: white;">
                  {{ wtf.quick_form(login_form) }}
            </div>
            <p class="text-center tex-white"> <span class="text-white">Not a member?</span>  <a class="text-white mx-2 f3" href="/authenticate/signup"> Sign Up </a></p>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock %}