body{
    font-family: 'Changa', sans-serif;
    /* font-family: 'Aclonica', sans-serif;
    font-family: 'El Messiri', sans-serif;
    font-family: 'Fredoka One', cursive;
    font-family: 'Lobster Two', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Righteous', cursive; */
    scroll-behavior: smooth;
   
}
.myfooter{
    position: fixed;
    bottom: 0;
    width: 100%;
    
}