{% extends 'base.html'%}
{% block content %}


<div class="card col-md-9"
style=" margin: auto; background-image: url(https://images.unsplash.com/photo-1557683316-973673baf926?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Ymx1ZSUyMHdhbGxwYXBlcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=400&q=60);
background-position: center center;background-size: cover;background-repeat: no-repeat; opacity: 0.7; ">

  <!-- Content -->
  <div class="text-white text-center d-flex align-items-center py-2 px-4">
    <div>
      <h4 class="card-title pt-2 "><strong>Random quote</strong></h4><br>
      <h4>{{quote.quote}}</h4><br>
      <h3>{{quote.author}}</h3>
    </div>
  </div>

</div>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      {%for post in posts[::-1]%}
      <div class="post-preview">
        <a href="{{url_for('main.post', id = post.id)}}">
          <h2 class="post-title">
            {{post.post_title}}
          </h2>
          <h3 class="post-subtitle">
            {{post.post_content | truncate (45) | safe}}
          </h3>
        </a>
        <p class="post-meta">Posted by
          <a href="{{url_for('main.profile', id = post.user_id)}}">{{post.post_by}}</a> on
          {{post.posted_at.strftime('%B %d, %Y')}}
        </p>
      </div>
      <hr>
      {%endfor%}
    </div>
  </div>
</div>
{%endblock%}